!!! 5
%html
  %head
    %title My Cuba Demo
    :css
      input[type='text']{width:500px;}
      #RSSResponseLoading{height:20px;}
  %body
    %h1
      = headline
    %form#ProcessFeed{action: "/process_rss", method:"post"}
      %input#RSSLink{type:"text", 
        value:"http://newyork.craigslist.org/search/msg?hasPic=1&query=keyboard&srchType=A&format=rss",
        style: 'width:80%; font-size:20px;'}
      %input#test{type:"hidden", value:"1"}
      %input#Submit{type:"Submit", value:"Submit"}
    #RSSResponseLoading
      %img{src: "/images/loading.gif", style:"display:none;"}

    %details#DTCraigsList{open:'open'}
      %summary Craig's List
      %iframe{src:'http://newyork.craigslist.org/search/msg?hasPic=1&query=keyboard&srchType=A',
              height: 400, width: '100%'}

    %details#DTResponse{open:'open', style: 'border: dashed 1px darkblue; padding:10px;'}
      %summary List Results
      %ul#RSSResponse
        %li
          Perform a search in Craig's List.
        %li
          When you see results, scroll to the bottom of the page.
        %li
          Right click on the RSS button and copy the link.
        %li
          Paste the link into the text area above & click 'Submit'
    %p{style: 'margin-top:5px; padding-top:5px; border-top: solid 1px #333;'}
      This demo app is powered by
      %a{href:"http://cuba.is", target:"_blank"} Cuba
      ,
      %a{href:"https://github.com/pauldix/feedzirra", target:"_blank"} Feedzirra
      , and was inspired by both
      %a{href:"http://soveran.github.com/cuba/", target: "_blank"} Cuba's docs
      and the
      %a{href:"https://github.com/antirez/redis-io", target:"_blank"} Redis IO source

    %script{id: "htItem", type: "text/x-handlebars-template"}
      {{#each entries}}
      %li.item
        %h3.title
          %a{href: "{{this.url}}", target: "_blank"}
            {{this.title}}
        %p.summary
          {{this.summary}}
      {{/each}}

    %script{type: "text/javascript", src: "http://code.jquery.com/jquery-1.7.2.min.js"}
    %script{type: "text/javascript", src: "https://github.com/downloads/wycats/handlebars.js/handlebars-1.0.0.beta.6.js"}
    %script{type: "text/javascript", src: "/javascripts/app.js"}
