!!! 5
%html
  %head
    %title My Cuba Demo
    :css
      .form_input{float:left; margin-right:25px;}
      #ProcessSearch{height:50px;}
      #SearchResponseLoading{height:20px; clear:both;}
  %body
    %h1
      = headline
    %form#ProcessSearch{action: "/search", method:"post"}
      %p.form_input
        %label{for: 'InstrumentName'} Instrument Name
        %input#InstrumentName{type:"text", 
          placeholder:"Keyboard, Drums, Etc"}
      %p.form_input
        %label{for: 'MinPrice'} Min $
        %input#MinPrice{type:"text", 
          placeholder:"15"}
      %p.form_input
        %label{for: 'MaxPrice'} Max $
        %input#MaxPrice{type:"text", 
          placeholder:"1500"}
      %p.form_input
        %input#Submit{type:"Submit", value:"Submit"}
    #SearchResponseLoading
      %img{src: "/images/loading.gif", style:"display:none;"}

    %h3 Search Results
    #SearchResponse{style: 'margin: 20px 10px; padding:10px; height: 300px; overflow-y: auto;'}

    %p{style: 'margin-top:5px; padding-top:5px; border-top: solid 1px #333;'}
      This demo app is powered by&nbsp;
      %a{href:"http://cuba.is", target:"_blank"}> Cuba
      ,&nbsp;
      %a{href:"http://3taps.com/", target:"_blank"}> 3Taps API
      , and my altered&nbsp;
      %a{href:"https://github.com/abelmartin/3taps-Ruby-Client.git", target:"_blank"}> 3Taps gem
      \.  It's inspired by both
      %a{href:"http://soveran.github.com/cuba/", target: "_blank"} Cuba's docs
      and the&nbsp;
      %a{href:"https://github.com/antirez/redis-io", target:"_blank"}> Redis IO source
      \.
    %p
      This demo is also possible because Craig's List has 
      %a{href:"https://www.eff.org/deeplinks/2012/08/good-news-craigslist-drops-exclusive-license-your-posts", target:'_blank'} come to their senses!
      \:)

    %script{id: "htItem", type: "text/x-handlebars-template"}
      {{#each results}}
      %li.item
        %h3.title
          ${{this.posting.price}} &nbsp;
          %a{href: "{{this.posting.externalURL}}", target: "_blank"}
            {{this.posting.heading}}
        %p.summary
          {{this.posting.body}}
      {{/each}}

    %script{type: "text/javascript", src: "http://code.jquery.com/jquery-1.7.2.min.js"}
    %script{type: "text/javascript", src: "https://github.com/downloads/wycats/handlebars.js/handlebars-1.0.0.beta.6.js"}
    %script{type: "text/javascript", src: "/javascripts/app.js"}
